<div id="left-column"> 
        <h3>Client Enquiry</h3>
        <ul class="nav">
          <li class ='<%=controller.controller_name.eql?('clients')? 'active' : ''%>'>
          <span><span><%=link_to("Client Enquiry", clients_path)%></span></span>
          </li>        
        </ul>
</div>