<div id="left-column">
        <h3>Centric</h3>
        <ul class="nav">
          <li class ='<%=controller.controller_name.eql?('reports')? 'active' : ''%>'>
          <span><span><%=link_to("Rawmaterias", :url=>{:controller=>"reports",:action=>'rpt_raw'})%></span></span>
          </li>
        </ul>
</div>