<div id="left-column">
  <h3>Suppliers</h3>
  <ul class="nav">
    <li class ='<%=controller.controller_name.eql?('suppliers')? 'active' : ''%>'>
      <span><span><%=link_to("Suppliers", suppliers_path)%></span></span>
    </li>
    <li class ='<%=controller.controller_name.eql?('addresses')? 'active' : ''%>'>
      <span><span><%=link_to("Suppliers Info", addresses_path)%></span></span>
    </li>
  </ul>
</div>
