html{overflow:auto;}
body { margin: 0 auto 0 auto;background: url(../images/bg_main.jpg) repeat-x #cecece; font-size: 62.5%;}

.fr{ float:right;}
.clear{ clear:both;}
 div form{ padding:0; margin:0;}
.loginBox{ width:430px; font-size:1.3em;font-family:Arial, Helvetica, sans-serif; margin:150px auto;}
/*.loginBox .blueBar{ float:left; background-image: url(../images/blue_band.gif); width: 15px; height:291px;}*/
.loginBox .blueBar{background:#b5d890; width: 404px; height:15px;}
.loginBox .contentBox {float:left; background: url(../images/bg_box.gif) repeat-x left top; width: 405px; height:291px;}
.loginBox .rightShadow{float:left; background:url(../images/right_shadow.jpg)left top; width: 3px; height:289px;}

.bbb input{ margin: 0; padding: 0; float: left; height: auto;}
.logoDiv{ background:url(../images/livia_portal/login_logo.gif) no-repeat top; width:201px; height:63px; text-align:center; margin: 25px auto 10px auto;
  font-family: 'Courier New',Courier,monospace;
  font-size: X-large;
  font-weight: bold;
  color: navy;
}
.login form {margin:30px auto 5px auto; width:100%;height:100%;}
.login form p{width:100%;text-align:center;margin:5px 0 5px 0;padding:0;float:left;}
.login form p input{width:50%;padding:0;margin:0;float:left; font-size:100%;}
.login form p label{margin:0 5px 0 0;height:100%;padding:0; width:120px; float:left; text-align:right;}

.login form p.call{margin:4px 0 0 0; padding:0; width:100%;text-align:center; }
.login form p.call input{padding:0; width:20px; text-align:center;margin:0 0 0 122px;}
.login form p.call label{width:150px; color:#0f0f0f;text-align:left;}
.forgotPassDiv {margin:10px auto 0 -40px; color:#000;text-decoration:none;text-align:center;}
.forgotPassDiv a {text-decoration:none;color:#000;}
.warningCont{color:#000; background:#fcddb0; border:1px solid #fa9a12; text-align:left; font-size:11px; font-weight:bold; padding:5px; }
.sucessCont{color:#000; background:#b5d8a7; border:1px solid #549839; text-align:left; font-size:11px; font-weight:bold; padding:5px; margin-bottom:5px;}
.button_left{position:relative;left:125px;margin:5px 0 0 0px;padding:0 0 0 5px;background: url(../images/left.jpg) top left no-repeat;float:left;}
.button_right{background: url(../images/right.jpg) top right no-repeat;margin:0px auto 0 0px;padding:0 5px 0 0px;}
.button{background:url(../images/btn_bg.jpg) repeat-x left top; height: 27px;  padding:0; color:#ededed; margin:0;font-family:Arial, Helvetica, sans-serif; border: 0px solid #424242;}

.left{ background: url(../images/left.jpg) top left no-repeat ; float: left; width: 8px; height: 27px; }
.right{ background: url(../images/right.jpg) top right no-repeat; float: left; width:10px; height: 27px; }
