<table>
  <tr>
    <td><label style="font-size:10px;"> OD(Mm) </label></td>
    <td><%= text_field_tag "#{"serialize"}[od]" %></td>
    <td><label style="font-size:10px;"> Thickness(Mm) </label></td>
    <td><%= text_field_tag "#{"serialize"}[thikness]" %></td>
    <td><label style="font-size:10px;"> Length(Mtr) </label></td>
    <td><%= text_field_tag "#{"serialize"}[length]" %></td>
  </tr>
</table>
