<p>
  <label> OD </label>
  <%= text_field_tag "#{"serialize"}[od]" %>
</p>

<p>
  <label> Thickness </label>
  <%= text_field_tag "#{"serialize"}[thikness]" %>
</p>

<p>
  <label> Length </label>
  <%= text_field_tag "#{"serialize"}[length]" %>
</p>


