<table>
  <tr>
    <td><label> OD </label></td>
    <td><%= text_field_tag "#{"serialize"}[od]" %></td>
    <td><label> Thickness </label></td>
    <td><%= text_field_tag "#{"serialize"}[thikness]" %></td>
    <td><label> Length </label></td>
    <td><%= text_field_tag "#{"serialize"}[length]" %></td>
  </tr>
</table>
