<%= render :partial=>'layouts/centric_left_bar' %>
<div id="center-column">
  <div class="gridDiv">
    <div class="titleHead">Register</div>
    <div class="formMain">
<% form_for @user, :url => users_path do |f| %>
  <%if(@user.errors.length >0)%>
          <div class='errorCont'>
            <%= error_messages_for(:user)%>
            <div class="clear"></div>
          </div>
        <%end%>
  <%= render :partial => "form", :object => f %>
      <div class="txtC" id="submit_div">
          <%= f.submit "Register" , :class=>'button submit_buttons'%>
        </div>
<% end %><br/>
    </div></div></div><br/>